{% extends "includes/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-9">
    <h1>{{ object|yesno:"Update,Create" }} Project</h1>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="input-group date" data-provide="datepicker">
            {{ form.date_field }}
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
        <a href="{% url 'task-list' %}" class="btn btn-secondary">Get Back</a>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>
{% endblock %}
