{% extends 'includes/base.html' %}


{% block content %}
<div class="col-9">
    <h1 class="d-flex justify-content-between">
        To Do List
        <a href="{% url 'task-create' %}" class="ms-auto">add new</a>
    </h1>

    {% for task in task_list %}
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-between">
                <a href="{% url 'task-detail' pk=task.id %}">
                    {{ task.content }}
                </a>
                {% if task.is_done %}
                <p class="text-sm text-success">
                    DONE
                </p>
                {% else %}
                <p class="text-sm text-danger">
                    NOT DONE
                </p>
                {% endif %}
            </h5>
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Created At:</strong> {{ task.created_at }}</li>
                <li class="list-group-item"><strong>Deadline:</strong> {{ task.deadline }}</li>
                <li class="list-group-item">
                    <strong>Tags:</strong>
                    {% for tag in task.tags.all %}
                        {{tag.name}}
                    {% endfor %}
                </li>
            </ul>
            <div class="mt-3">
                <a href="{% url 'task-update' pk=task.id %}" class="btn btn-primary">Edit Task</a>
                <a href="{% url 'task-delete' pk=task.id %}" class="btn btn-danger">Delete Task</a>

                {% if not task.is_done %}
                <a href="{% url 'toggle-task-done' task.id %}" class="btn btn-success">Complete</a>
                {% else %}
                <a href="{% url 'toggle-task-done' task.id %}" class="btn btn-secondary">Undo</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock content %}